<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Person is <%= ID %></h1>
        <h1>Person's name is <%= ID.length %> characters long</h1>
        <h2>Query string value: '<%= Qstr %>'</h2>
    </body>
<html>